<footer class="main-footer">
    <span>Warriors labs <sup>©</sup> All Rights Reserved.</span>
</footer>
<aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
    <div class="tab-content">
        <div class="tab-pane" id="control-sidebar-home-tab"></div>
    </div>
</aside>
</div>
<div class="control-sidebar-bg"></div>
<script src="{{ asset ('vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset ('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset ('vendor/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset ('vendor/fastclick/lib/fastclick.js') }}"></script>
<script src="{{ asset ('vendor/dist/js/adminlte.min.js') }}"></script>
<script src="{{ asset ('vendor/dist/js/demo.js') }}"></script>