{% include '@App/plantillas/cabecera.html.twig' %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            List firewall {{ubicacion}}
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        {% if app.user.role == 'ROLE_ADMINISTRATOR' %}
                            <a href="{{ path('registro_firewall',{'id': ubicacion }) }}" class="btn btn-success btn-flat">Add firewall</a>
                        {% endif %} 
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table id="example1" class="table table-bordered table-hover text-center">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <thead>
                                    <tr>
                                        <th>Interface</th>
                                        <th>Protocol</th> 
                                        <th>Source</th>
                                        <th>Port</th>
                                        <th>Destination</th>
                                        <th>Port</th>
                                        <th>Geteway</th>
                                        <th>Description</th>
                                        {% if app.user.role == 'ROLE_SUPERUSE' or app.user.role == 'ROLE_ADMINISTRATO' %}
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        {% endif %}  
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in xmls %}
                                        <tr>
                                            <td>
                                                {% for interface in obtener_nombre_interfas %}
                                                    {% if interface.tipo == item.interface %}
                                                        {{ interface.nombre }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% if item.protocol is defined %}
                                                    {% if item.ipprotocol is defined %}
                                                        IPV4 {{ item.protocol|upper }}
                                                    {% elseif item.protocol is defined %}
                                                        IPV4 {% if item.protocol == 'tcp/udp' %} {{ item.protocol|upper }}{% endif %}
                                                        {% if item.protocol == 'udp' %} {{ item.protocol|upper }}{% endif %}
                                                        {% if item.protocol == 'icmp' %} {{ item.protocol|upper }}{% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if item.ipprotocol is defined %}
                                                        IPV4 *
                                                    {% else %}
                                                        IPV4 * 
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.source.address is defined %}
                                                    {{ item.source.address }}
                                                {% else %}
                                                    *
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.source.port is defined %}
                                                    {{ item.source.port }}
                                                {% else %}
                                                    *
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.destination.address is defined %}
                                                    {{ item.destination.address }}
                                                {% else %}
                                                    *
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.destination.port is defined %}
                                                    {{ item.destination.port }}
                                                {% else %}
                                                    *
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.gateway is defined %}
                                                    {{ item.gateway }}
                                                {% else %}
                                                    *
                                                {% endif %}
                                            </td>
                                            <td>{{ item.descr }}</td>
                                            {% if app.user.role == 'ROLE_SUPERUSE' or app.user.role == 'ROLE_ADMINISTRATO' %}
                                                <td>
                                                    <form method="post" action="{{ path('editar_acl') }}">
                                                        <input type="hidden" name="plantel" value="{{ubicacion}}">
                                                        <input type="hidden" name="valor" value="{{item.name}}">
                                                        <button class="btn btn-warning btn-xs" type="submit">Edit <i class="fa fa-edit"></i></button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form method="post" action="{{ path('eliminar_acl') }}">
                                                        <input type="hidden" name="plantel" value="{{ubicacion}}">
                                                        <input type="hidden" name="valor" value="{{item.name}}">
                                                        <button class="btn btn-danger btn-xs" type="submit">Delete <i class="fa fa-remove"></i></button>
                                                    </form>
                                                </td>
                                            {% endif %} 
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include '@App/plantillas/pie_pagina.html.twig' %}
<script src="{{ asset ('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables/dataTables.bootstrap.min.js') }}"></script>
 <script>
    $(function () {
        $('#example1').DataTable()
    });
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
{% include '@App/plantillas/fin.html.twig' %}