{% include '@App/plantillas/cabecera.html.twig' %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Lista de usuarios
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        {% if app.user.role == 'ROLE_SUPERUSER' %}
                            <a href="{{ path('registro_super_usuario') }}" class="btn btn-success btn-flat">Add super user</a>
                        {% endif %} 
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table id="example1" class="table table-bordered table-hover text-center">
                                <div class="col-md-12">
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-info" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Info!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <thead>
                                    <tr>
                                        <th>Name</th>                         
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Group</th>
                                        {% if app.user.role == 'ROLE_SUPERUSER' %}
                                            <th>Status</th>
                                        {% endif %}
                                        {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lista_usuarios in usuarios %}
                                        <tr>
                                            <td>{{ lista_usuarios.nombre }} {{ lista_usuarios.apellidos }}</td>
                                            <td>{{ lista_usuarios.email }}</td>
                                            <td>{{ lista_usuarios.role }}</td>
                                            <td>{{ lista_usuarios.grupo }}</td>
                                            {% if app.user.role == 'ROLE_SUPERUSER' %}
                                                <td>
                                                    <a href="{{ path('actualizar_estado',{email:lista_usuarios.email})}}"  data-toggle="tooltip" data-placement="right" 
                                                        {% if lista_usuarios.estado == true %}
                                                            title="Press to disabled "        
                                                        {% endif %}
                                                        {% if lista_usuarios.estado == false %}
                                                             title="Press to active"
                                                        {% endif %} name="status">
                                                        {% if lista_usuarios.estado == true %}
                                                            Active       
                                                        {% endif %}
                                                        {% if lista_usuarios.estado == false %}
                                                            Disabled 
                                                        {% endif %}
                                                    </a>
                                                </td>
                                            {% endif %}
                                            {% if app.user.role == 'ROLE_SUPERUSER' or app.user.role == 'ROLE_ADMINISTRATOR' %}
                                                <td>
                                                    <a class="btn btn-warning btn-xs" href="{{ path('editar_usuario',{id:lista_usuarios.id}) }}">
                                                        Edit user <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-xs" href="{{ path('eliminar_usuario',{id:lista_usuarios.id}) }}">
                                                        Delete user <i class="fa fa-user-times"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include '@App/plantillas/pie_pagina.html.twig' %}
<script src="{{ asset ('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset ('vendor/datatables/dataTables.bootstrap.min.js') }}"></script>
 <script>
    $(function () {
        $('#example1').DataTable()
    });
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
{% include '@App/plantillas/fin.html.twig' %}