{% include '@App/plantillas/cabecera.html.twig' %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Accoun users
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Instructions</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-footer">
                        Fill all requested fields, remember that the email field must be unique, therefore you can not repeat an email that already exists. <br>
                        You are advised to use alphanumeric passwords, which contain:<br>
                        <dt>Uppercase 
                        <dd> - A B C D
                        <dt>Lowercase
                        <dd> - a b c d 
                        <dt>Numbers
                        <dd> - 1 2 3 4
                        <dt>Characters
                        <dd> - @ # $ %
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accoun</h3>
                    </div>
                    {{ form_start(form, {'attr': {'onsubmit':'return validarUsuario();'} } ) }}
                        <div class="box-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    {{ form_label(form.nombre) }}
                                    {{ form_widget(form.nombre, { 'id': 'nombre' }) }}
                                    <span class="text-danger">{{ form_errors(form.nombre) }}</span>
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.apellidos) }}
                                    {{ form_widget(form.apellidos) }}
                                    <span class="text-danger">{{ form_errors(form.apellidos) }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'id': 'email' }) }}
                                <span class="text-danger">{{ form_errors(form.email) }}</span>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.password.first) }}
                                {{ form_widget(form.password.first, { 'id': 'passwordUno' }) }}
                                <span class="text-danger">{{ form_errors(form.password.first) }}</span>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.password.second) }}
                                {{ form_widget(form.password.second, { 'id': 'passwordDos' }) }}
                                <span class="text-danger">{{ form_errors(form.password.second) }}</span>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Save) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.Clean) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</div>
{% include '@App/plantillas/pie_pagina.html.twig' %}
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
{% include '@App/plantillas/fin.html.twig' %}